/*TITULOS*/
h1{
font-family: sans-serif;
font-size: 40px;
text-align: center;
}
h2{
    font-family: sans-serif;
    font-size: 34px;
    text-align: center;
}
div{
    border: 1px solid;
    background-color: white;
}
body{
    margin-left: 0.5%;
    font-family: sans-serif;
    touch-action: none;
}
/*TITULO Y MENU*/
#inicio{
    width: 99.5%;
    height: 20%;
}
.titols{
    position: relative;
    float: left;
    width: 100%;
    height: 40px;
}
#menu{
    float: left;
    width: 100%;
    font-size: 20px;
}
#menu>nav>a{
    color:black;
    text-decoration: none;
}
/*CUERPO*/
#body{
    position: relative;
    width: 99.5%;
    float: left;
    border-color: blue;

}
/*PELICULA*/
#cartellera{
    position: relative;
    float: left;
    width: 96%;
    margin-left: 2%;
    border-color: red;
}
/*IMG CARTELLERA*/
#img_principal{
    position: relative;
    margin-top: 2%;
    float: left;
    border-color:purple;
}
#img_principal>img{
    width: 300px;
}

/*INFORMACIO CARTELLERA*/
#infoTodasPeliculas{
    position: relative;
    float: left;
    width: 73.5%;
    border-color: orange;
    margin-left: 1%;
    margin-top: 1%;

}
.infopelicula{
    float: left;
    position: relative;
    width:100%;
    border-color:green; 
    margin-top: 1%;
    
}
/*IMG PELICULA*/
#img_pelicula{
    position: relative;
    float: left;
    width: 150px;
    margin-right: 1%;

}
#img_pelicula>img{
    position: relative;
    width: 100%;
}
/*DESCRIPCIO PELICULA*/
.descripciopelicula{
    position: relative; 
    float: left;
    margin-right: 1%;
    font-size: 100%;
    width: 37%;
}
/*TRAILER PELICULA*/
.trailer{
    position: relative;
    float: right;
    width: 45%;
    height:100%;
}
iframe{
    width: 100%;
    height: 250px;
}

/*ESTRENES*/
#estrenes{
    position: relative;
    float: left;
    margin-top:1%; 
    margin-left: 2%;
    width: 96%;
    border-color: red;
}
 #estrenes>.infopelicula{
     float: left;
     width: 73.5%;
     margin-left: 12%;
 }
/*CARRUSEL*/
/*#carrusel{
    float: left;
    width: 100%;
}*/
#carrusel {
    float:left;
    width:100%;
    overflow:hidden;
    height:300px;
    position:relative;
    margin-top:20px;
    margin-bottom:20px;
}
 
#carrusel .left-arrow {
    position:absolute;
    width:600px;
    left:10px;
    z-index:1;
    top:50%;
    margin-top:-9px;
}
 
#carrusel .right-arrow {
    position:absolute;
    right:10px;
    z-index:1;
    top:50%;
    margin-top:-9px;
}
 
.carrusel {
    left:0px;
    position:absolute;
    z-index:0;
}
 
.carrusel>div {
    float: left;
    height: 300px;
    margin-right: 5px;
    text-align:center;
}
 
.carrusel img {
    cursor:pointer;
}
 
.product {
    border:#CCCCCC 1px solid;
}
.product>img{
    height: 100%;
}
/*HISTORIA*/
#historia{
    position: relative;
    float: left;
    margin-top:1%; 
    margin-left: 2%;
    width: 96%;
    border-color: red;
}
#contenidoHistoria{
    position: relative;
    float: left;
    width: 100%;
    margin-top: 1%;
}
/*
#contenidoHistoria p{
    position: relative;
    float: left;
    width: 65%;
    margin: 0% 1% 1% 1%;
}*/
#contenidoHistoria div{
    position: relative;
    margin-top: 1%;
    width: 70%;
    display: block;
    margin: auto;
    border-radius:10px; 
    padding: 1%;
}
#contenidoHistoria img{
    position: relative;
    min-width: 100px;
    max-width: 160px;
    border-radius: 5px;
}
.historia1 p{
text-align: center;
}
.historiaImg1{
    display: block;
    margin: auto;
}
.historiaImg2{
    float: right;
    margin: 0% 0% 1% 1%;
}
.historiaImg3{
    float: left;
    margin: 0% 1% 1% 0%;
}
.historiaImg7{
    float: right;
    margin: 0% 0% 1% 1%;
}
/*Localització*/
#localitzacio{
    position: relative;
    float: left;
    border-color: red;
    width: 100%;
}
#mapa{
    margin-top: 1%;
    margin-bottom: 1%;
    width: 70%;
    display: block;
    margin: auto;
}