/*------------------------------------------------------------------
[Master Stylesheet]
-------------------------------------------------------------------

/*--------------------
Import Google Fonts
--------------------*/

/* main font for menu. */
@import url(https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900);
/* font for headings, text, tags */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700,800);
@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400italic&subset=latin,latin-ext);

/*--------------------
1. General
--------------------*/

img {
    border-radius: 5px !important;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    -webkit-touch-callout: none;
  }

/* nomes es mostra al fer petita la pantalla */
.navbar-toggle{
    position: relative;
    float: right;
    padding: 12px;
    margin-top: 25px;
    margin-right: 40px;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.navbar-brand>img{
    margin-top: 3px !important;
    width: 60px !important;
    margin-left: 20px;
}

.navbar-header>a:hover{
    animation-name: pulse;
    animation-duration: 1s;
}

@-webkit-keyframes pulse {
    from {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  
    50% {
      -webkit-transform: scale3d(1.05, 1.05, 1.05);
      transform: scale3d(1.05, 1.05, 1.05);
    }
  
    to {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  }
  
  
.logo_name{
    margin: 0;
    margin-top: 27px;
    margin-left: 0px;
    margin-bottom: 18px;
    font-size: 2em;
    width: 142px;
}

body {
  margin: 0px;
    font-family: "Open Sans", Sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
font-weight: 300;
    letter-spacing: 0.4px;
    font-family: "Open Sans", Sans-serif;
    color: #232323;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 300;
	line-height: 23px;
    letter-spacing: 0.2px;
    color: #797979;
}

a:hover, a:focus, a:active, a.active {
    color: #f1f1f1;
}
a, a:hover, a:focus, a:active, a.active {
    outline: 0;
}

::selection {
    text-shadow: none;
    background: #979797;
    color:white;
}

@media (min-width: 768px) {
	section {
	    padding: 0px;
	}
}

section {
    padding: 0px 0 0 0;
}

/*--------------------
2. Navigation
--------------------*/
nav{
    background-color: #222;
}
.navbar-default {
	background-color: #222;
	border-color: transparent
}
.navbar-default .navbar-brand {
	color: #fff;
	font-family: "Montserrat",sans-serif;
    padding: 0px;
}
.navbar-default .navbar-brand:hover,.navbar-default .navbar-brand:focus,.navbar-default .navbar-brand:active,.navbar-default .navbar-brand.active {
	color: #f1f1f1
}
.navbar-default .navbar-collapse {
	border-color: rgba(255,255,255,.02)
}
.navbar-default .navbar-toggle {
	background-color: #f1f1f1;
	border-color: #f1f1f1
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: rgb(22, 22, 22)
}
.navbar-default .navbar-toggle:hover,.navbar-default .navbar-toggle:focus {
	background-color: #f1f1f1
}
.navbar-default .nav li a {
	font-family: "Roboto",sans-serif;
	text-transform: uppercase;
	font-weight: 400;
	letter-spacing: 1px;
	color:#fff
}
.navbar-default .nav li a:hover,.navbar-default .nav li a:focus {
    color: #969696;
    text-shadow: 0px 0px 5px rgb(0, 0, 0);
}

.navbar-default .navbar-nav>.active>a {
	border-radius: 0;
	color: #fff;
	background-color: #f1f1f1
}
.navbar-default .navbar-nav>.active>a:hover,.navbar-default .navbar-nav>.active>a:focus {
	color: #fff;
	background-color: #d6d6d6
}

@media (min-width:839px) {
	.navbar-default
	{
		background-color: #222;
		border:0
	}
	.navbar-default .navbar-brand {
		font-size: 2em;
		-webkit-transition:all .3s;
		-moz-transition:all .3s;
		transition:all .3s
	}
	.navbar-default .navbar-nav>.active>a {
		border-radius: 3px
	}
	.navbar-default.navbar-shrink {
		background-color: #222;
	}
	.navbar-default.navbar-shrink .navbar-brand {
		font-size: 1.5em
	}
}

/*--------------------
4. Sections
--------------------*/

.section-title h2 {
    font-family: 'Merienda', cursive;
    font-weight:bold;
    font-size: 10vw;
    padding-bottom: 35px;
    padding-top: 120px;
    width: 100%;
    margin: auto;
    color: rgb(240, 240, 240);
    letter-spacing: .10em;
}

@media screen and (min-width: 400px) {
.section-title h2  {
       font-size: 4.5em;
    }
  }
  

  @keyframes blink {
    78% {
      color: inherit;
      text-shadow: inherit;
    }
    79%{
       color: #333;
    }
    80% {
      
      text-shadow: none;
    }
    81% {
      color: inherit;
      text-shadow: inherit;
    }
    82% {
      color: #333;
      text-shadow: none;
    }
    83% {
      color: inherit;
      text-shadow: inherit;
    }
    92% {
      color: #333;
      text-shadow: none;
    }
    92.5% {
      color: inherit;
      text-shadow: inherit;
    }
}

.fons_p1{
    margin-top: -6px;
    background-image: url("/asset/img/cine.JPG");
    background-position-x: center;
    background-position-y: 90px;
    animation: dark_fons 10s forwards;
    animation-iteration-count: infinite;
    -moz-animation: dark_fons 10s forwards;
    -webkit-animation: dark_fons 10s forwards;
}

@keyframes dark_fons {
    0% {background-image: url("/asset/img/cine.JPG");}
    50% {background-image: url("/asset/img/cine_black.JPG");}
    100% {background-image: url("/asset/img/cine.JPG");}
}

.fons_p3{
    background-position-x: center;
    background-position-y: 90px;
    background-image: url("/asset/img/butaques.JPG");
}

.fons_parallax{
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: auto;
    background-color: #0f0f0f;
}

.section-title p {
    font-size: 15px;
    font-weight: 300;
    width: 80%;
    max-width: 340px;
    margin: auto;
    margin-bottom: 20px;
    line-height: 25px;
}
/*4.0 CARTELLERA*/
.cartellera{
    margin-top: 10px;
}
.img_principal{
    text-align: center;
}
/*INFORMACIO CARTELLERA*/
#caratula_alone{
    margin-top: 135px;
    margin-bottom: 40px;
    width: 100%;
    text-align: center;
}

#caratula_alone > img{
    width: 100%;
    min-width: 200px;
    max-width: 500px;
    -webkit-transition: width 2s;
    transition: max-width 2s;
}

#caratula_alone > img:hover{
    width: 100% !important;
    max-width: 650px;
}

#infoTodasPeliculas{
    margin: 0;
    width: 100%;
    overflow: hidden;
    border-radius: 5px;
    background-color: #e4e4e4;
    margin-bottom: 20px;
    min-height: 0px !important;
}

.generes{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
    font-size: 0.9em;
    margin-bottom: 10px;
}

.gen{
    margin-right: 5px;
    background-color: #797979;
    color: white;
    padding: 3px 5px 3px 5px;
    border-radius: 9px;
    margin-top: 10px;
    animation: jackInTheBox 0.5s 0.2s;
    -moz-animation: jackInTheBox 0.5s 0.2s;
    -webkit-animation: jackInTheBox 0.5s 0.2s;
}

@-webkit-keyframes jackInTheBox {
    from {
      opacity: 0;
      -webkit-transform: scale(0.1) rotate(20deg);
      transform: scale(0.1) rotate(20deg);
      -webkit-transform-origin: center bottom;
      transform-origin: center bottom;
    }
  
    50% {
      -webkit-transform: rotate(-10deg);
      transform: rotate(-10deg);
    }
  
    70% {
      -webkit-transform: rotate(2deg);
      transform: rotate(2deg);
    }
  
    to {
      opacity: 1;
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  }

.box_info_pelicula_estrena{
    margin:0;
    width: 100%;
    overflow: hidden;
    border-radius: 5px;
}

#carroselEstrenes{
    margin-top: -50px;
    height: 400px;
}

.infopelicula{
    margin-left: 0px;
    padding: 10px;
}

@keyframes action{
    0%{transform: rotate(0deg);}
    50%{transform: rotate(-20deg);}
    100%{transform: rotate(0deg);}
}

@media (max-width: 550px) {
    .infopelicula > img{
        padding: 10px 20% 10px 20%;
        width: 100%;
        max-width: 450px;
    }
    .generes{
        justify-content: center !important;
    }
    iframe{
        height: 285px !important;
    }
}

@media (max-width: 400px) {
    iframe{
        height: 200px !important;
    }
}

strong{
    font-weight: bold;
}

@media (max-width: 1200px) {
    .navbar-nav>li>a {
        margin-top: 0px !important
    }
    .descripciopelicula{
        padding: 10px 0px 10px 0px !important;
    }
    .degradat_video{
        width: 100%;
        height: 2px;
        margin-bottom: 5px;
    }
}

.descripciopelicula{
    max-height: 275px;
    overflow-y: scroll;
    padding: 0px 10px 0px 10px;
    margin: 0px;
}
.descripciopelicula p{
    text-align: justify;
}

/*IMG PELICULA*/
#img_cartellera>img{
    width: 100%;
}
#img_pelicula>img{
    width: 100%;
}

/*TRAILER PELICULA*/
.trailer{
    height:100%;
}
iframe{
    width: 100%;
    height: 400px;
    margin: 0px !important;
}
@media (min-width: 1200px) {
    iframe{
        margin-top: 20px;
        height: 275px;
    }
}

/*Historia*/
#historia img{
    width: 110%;
    min-height: 110%;
    margin-left: -16px;
    margin-top: -2px;
}
.historia p{
    text-align: justify;
}
#historia1 {
    text-align: center;
}

/*--------------------
4.3. Portfolio
--------------------*/

figure {
	position: relative;
    overflow: hidden;
    margin: 10px 1%;
    background: #726FB9;
    text-align: center;
    cursor: pointer;	
}

figcaption {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;	
}

.ot-portfolio-item figure figcaption > a {
    z-index: 1000;
    text-indent: 200%;
    white-space: nowrap;
    font-size: 0;
    opacity: 0;
}
.ot-portfolio-item figure figcaption, .ot-portfolio-item figure figcaption > a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

figure.effect-bubba {
    background: #000;
    margin: 0;
    height: 177px;
    overflow: hidden;
}

figure.effect-bubba img {
	opacity: 0.8;
	-webkit-transition: opacity 0.35s;
    transition: opacity 0.35s;
    width: 100%;
}
@media (min-width: 800px) and (max-width: 1200px) {
figure.effect-bubba img {
	opacity: 0.8;
	-webkit-transition: opacity 0.35s;
    transition: opacity 0.35s;
    width: 100%;
    height: 100%;
}
}
figure.effect-bubba:hover figcaption{
    background-color: rgba(0, 0, 0, 0.295) !important;
}
figure.effect-bubba:hover figcaption h2{
    color:rgb(255, 255, 255) !important;
}
figure.effect-bubba figcaption::before,
figure.effect-bubba figcaption::after {
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
	transition: opacity 0.5s, transform 0.5s;
}

figure.effect-bubba figcaption::before {
	border-top: 2px solid #fff;
	border-bottom: 2px solid #fff;
	-webkit-transform: scale(0,1);
	transform: scale(0,1);
}

figure.effect-bubba figcaption::after {
	border-right: 2px solid #fff;
	border-left: 2px solid #fff;
	-webkit-transform: scale(1,0);
	transform: scale(1,0);
}

figure.effect-bubba h2 {
    color: #fff;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
	padding-top: 30%;
}

figure.effect-bubba:hover figcaption::before,
figure.effect-bubba:hover figcaption::after {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}

figure.effect-bubba:hover h2,
figure.effect-bubba:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

/*--------------------
4.5. Partners Slider
--------------------*/

.partner-logo img { 
    width: 63%;
    cursor: grab;
    transition: width 1s
}

@media (max-width: 350px) {
    
    .partner-logo img { 
        width: 300px !important;
        text-align: center;
    }
}
@media (min-width: 900px) and (max-width: 4096px) {
    .partner-logo {
        text-align: center;
    }
    
    .partner-logo img { 
        width: 350px !important;
    }

    .partner-logo img:hover{
        width: 500px !important;
    }
}
@media (min-width: 321px) and (max-width: 499px) {
    .partner-logo {
        text-align: center;
    }
    
    .partner-logo img { 
        width: 95% !important;
    }

}

.partner-logo-estrenes {
    height: 300px;
    margin: auto;
    margin-top: 50px;
    text-align: center;
}

.partner-logo-estrenes img {
    height: 100%;
    width: auto !important;
    cursor: grab;
}
.partner-logo-estrenes>a>img{
    transition: transform 0.5s, box-shadow 0.5s;
}

.partner-logo-estrenes>a>img:hover{
    transform: translateY(20px);

    box-shadow: 0px 0px 30px 0px rgba(255,255,255,0.65);
}

@keyframes desplegar_info {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }

.box_info_pelicula_cartellera{
    animation: desplegar_info 3s forwards;
    -moz-animation: desplegar_info 3s forwards;
    -webkit-animation: desplegar_info 3s forwards;
}

@keyframes amagar_info {
    0% {display: none;}
    10% {opacity: 0; display: block;}
    100% {opacity: 1; display: block;}
}

.infopelicula{
    background-color: #f1f1f1;
    border-radius: 5px;
}

.box_info_pelicula_estrena > .descripciopelicula, p, img, iframe{
    animation: amagar_info 0.5s forwards; 
    -moz-animation: amagar_info 0.5s forwards; 
    -webkit-animation: amagar_info 0.5s forwards; 
}

/*--------------------
4.7. Mapa
--------------------*/

#mapa{
    height: 500px;
}

.info_contacte{
    background-color: #f1f1f1;
    text-align: center;
    padding: 20px;
    margin: 0;
    margin-top: -5px;
}

.info_contacte > p{
    color: black;
}

/*--------------------
4.7. Contacts
--------------------*/

section#contact form {
    margin-top: 15px;
}
section#contact.form-group {
margin-bottom: 25px;
}

section#contact .form-group input, section#contact .form-group textarea {
    padding: 15px;
    width: 50%;
    margin: auto;
    min-width: 250px;
    border: 1px solid #BBBBBB;
    border-radius: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 0px 0px rgba(0,0,0,.075);
    font-size: 13px;
}

.contact h3 {
    margin-bottom: 30px;
}

.contact p {
    font-size: 13px;
}

.contact .day {
    display: inline-block;
    width: 80px;
}

.contact i {
    margin-right: 5px;
}

/*--------------------
5. Footer
--------------------*/

footer {
    margin-top: 80px;
    padding: 45px 45px 75px 45px;
    background-color: #000;    
}

footer p {
    color: #B7B7B7;
    margin: 0;
    font-size: 10px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1.6px;
}

footer p a {
    color: #fff;
    cursor: pointer;
}

footer p a span {
    color: #FF9F46;
    font-size: 10px;
    letter-spacing: 1px;
    font-weight: 700;
    text-align: center;
}
.footer{
    margin-bottom: 2%;
}

.box_powered{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-top: -5px;
}

@media (max-width: 1200px) {
    .box_powered{
        display: flex;
        flex-wrap: wrap;
        margin-top: 30px;
        justify-content: center;
    }
    .redesSociales{
        display: flex;
        flex-wrap: wrap;
        margin-top: 10px;
        justify-content: center;
        margin-bottom: 20px;
    }
    .redesSociales i {
        margin-left: 10px;
        margin-right: 10px;
    }
}

.footer > div > a > img{
    width: 140px;
}

.redesSociales{
    margin-top: 10px;
}

.redesSociales i{
    color: rgb(175, 175, 175);
    font-size: 40px;
    margin-right: 4%;
}
.redesSociales .fa-facebook-official:hover{
    color: #3b5998;
    font-size: 40px;
    margin-right: 4%;
}
.redesSociales .fa-instagram:hover{
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 40px;
    margin-right: 4%;
}
.fa:hover, .fa:active{
    -webkit-animation: swing 1s both infinite;
    -webkit-transform-origin: center;
}

@-webkit-keyframes swing {
    20% {
      -webkit-transform: rotate3d(0, 0, 1, 15deg);
      transform: rotate3d(0, 0, 1, 15deg);
    }
  
    40% {
      -webkit-transform: rotate3d(0, 0, 1, -10deg);
      transform: rotate3d(0, 0, 1, -10deg);
    }
  
    60% {
      -webkit-transform: rotate3d(0, 0, 1, 5deg);
      transform: rotate3d(0, 0, 1, 5deg);
    }
  
    80% {
      -webkit-transform: rotate3d(0, 0, 1, -5deg);
      transform: rotate3d(0, 0, 1, -5deg);
    }
  
    to {
      -webkit-transform: rotate3d(0, 0, 1, 0deg);
      transform: rotate3d(0, 0, 1, 0deg);
    }
  }

/*--------------------
6. Modal
--------------------*/
.img_modal{
max-width: 400px;    
max-height: 550px;
margin: auto;
}
.modal-content {
	border-radius: 0;	
}
.modal-header .close {
	font-size: 30px;	
}
.modal-title {    
	text-transform: uppercase;
	font-size: 23px;
}

.modal-body {
	padding: 0;
}
.modal-body img{
    
    width: 100%;
}
.modal-body p {
	margin: 30px 20px;
	color: #2D2D2D;		
}


/*--------------------
7. Components
--------------------*/

.btn:hover, .btn:focus, .btn:active, .btn.active, .open .dropdown-toggle.btn {
    color: rgb(26, 26, 26);
    background-color: #dbdbdb;
    border-color: #cacaca;
}

.btn {
    display: inline-block;
    padding: 8px 20px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

/* HISTORIA */

.box_parent_historia{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.box_historia{
    width: 25%;
    max-width: 300px;
    margin: 20px;
}
@media (max-width: 800px){
    .box_historia{
        width: 25%;
        min-width: 40%;
        margin: 20px;
    }
}
@media (max-width: 600px){
    .box_historia{
        width: 25%;
        min-width: 89%;
        margin: 20px;
    }
}

/* ANIMACIO DE LOADNING */

/* Loading animation */

#loadingDiv{
    display: flex;
    justify-content: center;
    margin-top:250px;
}

.lds-roller {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
  }
  .lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 32px 32px;
  }
  .lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #fff;
    margin: -3px 0 0 -3px;
  }
  .lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
  }
  .lds-roller div:nth-child(1):after {
    top: 50px;
    left: 50px;
  }
  .lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
  }
  .lds-roller div:nth-child(2):after {
    top: 54px;
    left: 45px;
  }
  .lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
  }
  .lds-roller div:nth-child(3):after {
    top: 57px;
    left: 39px;
  }
  .lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
  }
  .lds-roller div:nth-child(4):after {
    top: 58px;
    left: 32px;
  }
  .lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
  }
  .lds-roller div:nth-child(5):after {
    top: 57px;
    left: 25px;
  }
  .lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
  }
  .lds-roller div:nth-child(6):after {
    top: 54px;
    left: 19px;
  }
  .lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
  }
  .lds-roller div:nth-child(7):after {
    top: 50px;
    left: 14px;
  }
  .lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
  }
  .lds-roller div:nth-child(8):after {
    top: 45px;
    left: 10px;
  }
  @keyframes lds-roller {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  