
#box_form_a_pelicula_m{
    margin: auto;
    width: 90%;
    margin-top: 20px;
}

#afegir_manual{
    padding: 10px;
    width: 100%;
    margin-top: 10px;
}

* {
  box-sizing: border-box;
}

input[type=text],input[type=password], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #444;
  background-color: #333333;
  border-radius: 4px;
  resize: vertical;
  color: white;
}

input:hover {
    border-color: #5fa2db;
    background-color: #333333;
 
  }

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

.container {
  border-radius: 5px;
  background-color: #333333;
  padding: 20px;
}