body{
    font-family: sans-serif;
    background-color: rgb(27, 27, 27);
    color: white;
    overflow-x:hidden;
}

.box_cos{
    margin-left: 60px;
    margin-bottom: 20px;
}

/* Caixa de cerca */
#box_cerca_peli{
    display: flex;
    flex-wrap: wrap;
    margin: 20px 10px 20px 10px;
}

#get_title_movie{
    width: 78%;
    color: rgb(212, 212, 212);
    font-size: 1.2em;
    border-color: #a5a5a5;
    background: rgb(51, 51, 51);
    border: 1px solid #444;
    border-radius: 5px 0 0 5px;
    font-family: 'Cabin', helvetica, arial, sans-serif;
    margin: 0px;
    padding: 0px 0px 0px 10px;
    line-height: 40px;
}
#get_title_movie:hover{
    background: rgb(63, 63, 63);
    border-color: #5fa2db;
}

#buscar_peli{
    width: 15%;
    box-sizing: content-box;
    border: 1px solid #444;
    border-radius: 0 5px 5px 0;
    color: #999;
    margin: 0;
    padding: 0;
    line-height: 40px;
}
#buscar_peli:hover{
    color: #5fa2db;
    border-color: #5fa2db;
}

/* Loading animation */

#loadingDiv{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}



.sk-folding-cube {
    margin: 20px auto;
    width: 80px;
    height: 80px;
    position: relative;
    -webkit-transform: rotateZ(45deg);
            transform: rotateZ(45deg);
  }
  
  .sk-folding-cube .sk-cube {
    float: left;
    width: 50%;
    height: 50%;
    position: relative;
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1); 
  }
  .sk-folding-cube .sk-cube:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #5fa2db;
    -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
            animation: sk-foldCubeAngle 2.4s infinite linear both;
    -webkit-transform-origin: 100% 100%;
        -ms-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
  }
  .sk-folding-cube .sk-cube2 {
    -webkit-transform: scale(1.1) rotateZ(90deg);
            transform: scale(1.1) rotateZ(90deg);
  }
  .sk-folding-cube .sk-cube3 {
    -webkit-transform: scale(1.1) rotateZ(180deg);
            transform: scale(1.1) rotateZ(180deg);
  }
  .sk-folding-cube .sk-cube4 {
    -webkit-transform: scale(1.1) rotateZ(270deg);
            transform: scale(1.1) rotateZ(270deg);
  }
  .sk-folding-cube .sk-cube2:before {
    -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s;
  }
  .sk-folding-cube .sk-cube3:before {
    -webkit-animation-delay: 0.6s;
            animation-delay: 0.6s; 
  }
  .sk-folding-cube .sk-cube4:before {
    -webkit-animation-delay: 0.9s;
            animation-delay: 0.9s;
  }
  @-webkit-keyframes sk-foldCubeAngle {
    0%, 10% {
      -webkit-transform: perspective(140px) rotateX(-180deg);
              transform: perspective(140px) rotateX(-180deg);
      opacity: 0; 
    } 25%, 75% {
      -webkit-transform: perspective(140px) rotateX(0deg);
              transform: perspective(140px) rotateX(0deg);
      opacity: 1; 
    } 90%, 100% {
      -webkit-transform: perspective(140px) rotateY(180deg);
              transform: perspective(140px) rotateY(180deg);
      opacity: 0; 
    } 
  }
  
  @keyframes sk-foldCubeAngle {
    0%, 10% {
      -webkit-transform: perspective(140px) rotateX(-180deg);
              transform: perspective(140px) rotateX(-180deg);
      opacity: 0; 
    } 25%, 75% {
      -webkit-transform: perspective(140px) rotateX(0deg);
              transform: perspective(140px) rotateX(0deg);
      opacity: 1; 
    } 90%, 100% {
      -webkit-transform: perspective(140px) rotateY(180deg);
              transform: perspective(140px) rotateY(180deg);
      opacity: 0; 
    }
  }

/* Pelicules trobades */
.pelicula{
    color: black;
    text-shadow: 0 -1px 0 #000;
    background-color: rgba(212, 212, 212, 0.158);
    margin: 5px;
    width: 140px;
    height: 288px;
    text-align: center;
    overflow: hidden;
    border-radius: 5px;
    border: 1px solid #444;
    cursor: pointer;
    
}

.pelicula:hover{
    background: rgb(63, 63, 63);
    border-color: #5fa2db;
}

#llistat_pelicules{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    margin-top: 20px;
}

.caratules{
    height: 210px;
    pointer-events: none;
}

.desc_pelicula{
    margin-top: 7px;
    color: rgb(218, 218, 218);
    font-size: 0.8em;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: justify;
    line-height: 1.6;
    width: 90%;
}
.titol_pelicula{
    padding: 2px;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 5px;
}

.titol_pelicula_select{
    font-weight: bold;
    margin-top: 65px;
    margin-bottom: 10px;
}

.info_pelicula{
    color: rgb(218, 218, 218);
    font-size: 0.8em;
}

/* Pelicula seleccionada */

.box_buscar_trailer{
    padding: 0px !important;
}

.box_movie_select{
    padding: 0px;
    margin-left: 10px;
}

#box_afegir_pelicula_db{
    position: absolute;
    margin-top: 215px;
}
#afegir_pelicula_db{
    font-size: 1.5em;
    padding-left: 27px;
    padding-right: 27px;
}

.button_afegir_trailer{
    box-sizing: content-box;
    display: block;
    font-size: 1.0em;
    padding: 15px;
}

/* Afegir trailer manual */

#box_afegir_url_manual{
    margin-top: 40px;
    margin-bottom: 40px;
}

#get_url_movie{
    margin-left: 34px;
    color: rgb(212, 212, 212);
    font-size: 1.5em;
    border-color: #a5a5a5;
    background: rgb(51, 51, 51);
    border: 1px solid #444;
    border-radius: 5px;
    display: block;
    float: left;
    font-family: 'Cabin', helvetica, arial, sans-serif;
    margin: 0;
    padding: 0 10px;
    text-shadow: 0 -1px 0 #000;
    line-height: 40px;
    width: 60%;
}
#enviar_url{
    box-sizing: content-box;
    border: 1px solid #444;
    border-left-color: #000;
    border-radius: 0 5px 5px 0;
    color: #fff;
    display: block;
    font-size: 1.0em;
    line-height: 40px;
    margin: 0;
    padding: 0;
    position: relative;
    text-shadow: 0 -1px 0 #000;
    width: 20%;
    max-width: 150px;
}

/* Afegir trailer automatic */
#box_trailer_selecionar{
    float: left;
    width: 100%;
    margin: auto;
}

.box_trailer{
    height: 400px;
    margin-bottom: 20px;
}

@media (min-width: 900px) and (max-width: 600px){
    .box_trailer{
        height: 300px;
    }
}

@media (min-width: 600px) and (max-width: 900px){
    .box_trailer{
        height: 200px;
    }
}

@media (min-width: 200px) and (max-width: 600px){
    .box_trailer{
        height: 150px;
    }
}


iframe{
    width: 80%;
    height: 100%;
}

.box_afegir_video{
    width: 20%;
    height: 100%;
    float: right;
}

.box_afegir_video > div{
    color:rgba(255, 255, 255, 0);
}

.button_afeigr_video{
    width: 100%;
    height: 100%;
    font-size: 1em;
    border: 0px;
    margin: auto;
    overflow: hidden;
    color: white;

}

.box_seleccionat{
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(58, 145, 47);
    color: white !important;
    animation: desplegar_box_seleccionat 0.5s forwards;

}

@keyframes desplegar_box_seleccionat {
    0% {height: 0%;}
    30% {height: 70%;}
    40% {height: 80%;}
    50% {height: 90%;}
    100% {height: 100%;}
  }

/* Generals */

.but_normal{
    padding: 10px;
}

.button_black{
    background: rgb(51, 51, 51);
}
.button_black:hover{
    background: rgb(63, 63, 63);
}
.button_black:active{
    background: rgb(97, 97, 97);
}

.button-success,
.button-error,
.button-warning,
.button-secondary {
    color: white;
    border-radius: 4px;
    border:none;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.button-success {
    background: rgb(28, 184, 65); 
    border:solid rgb(20, 136, 47) 2px;
}
.button-success:hover {
    background: rgb(23, 156, 54); 
}
.button-success:active {
    background: rgb(20, 136, 47); 
}

.button-error {
    background: rgb(202, 60, 60);
    border:solid rgb(126, 37, 37); 
}
.button-error:hover {
    background: rgb(156, 47, 47); 
}

.button-error:active {
    background: rgb(126, 37, 37); 
}
.button-warning {
    background: rgb(223, 117, 20); 
    border:solid rgb(163, 86, 13); 
}

.button-warning:hover {
    background: rgb(197, 103, 15); 
}
.button-warning:active {
    background: rgb(163, 86, 13); 
}

.button-secondary {
    background: rgb(66, 184, 221);
    border:solid rgb(45, 121, 145);
}
.button-secondary:hover {
    background: rgb(51, 141, 168);
}
.button-secondary:active {
    background: rgb(45, 121, 145);
}

/* afegir manual i biblioteca */

.button_pujar_img{
    border: 1px solid #444;
    padding: 20px;
    width: 100%;
    background-color: #333333;
    color: #747474;
    border-radius: 4px;
}

#pujar_file{
    background-color: #60a116 !important;
}