/* CARATULES */

.button_desplegable{
    border: 0px;
    width: 100%;
    padding: 21px;
    font-size: 2em;
    text-align: center;
    background-color: #5fa2db;
    color: white;
}

#menu_caratules{
    width: 100%;
}

.box_pujar_caratula{
    width: 95%;
    margin: auto;
    margin-top: 10px;
}
#sortpicture{
    margin-bottom: 10px;
    color: #747474;
}
#upload{
    padding: 20px;
}

#caratules_actuals{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.box_caratula{
    height: 250px !important;
    width: 250px !important;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.button_pujar_caratula{
    padding: 10px;
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    cursor: pointer;
    border: none;
    background-color: rgba(211, 211, 211, 0.267);
}

.button_pujar_caratula:hover {
    background-color: rgba(211, 211, 211, 0.445);
}

/* BIBLIOTECA PELICULES */

#biblioteca_pelicules{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    margin-top: 20px;
    margin-left: 5px;
    margin-bottom: 20px;
    
}

.pelicula_biblioteca{
    height: 390px !important;
    align-content: space-between;
}

/* Eliminar la pelicula */

.b_eliminar_peli{
    position: relative !important;
    width: 100% !important;
    display: block !important;
    text-align: center !important;
    font-size: 0.9em !important;
    border-radius: 0px !important;
}

.but_eliminar{
    position: relative !important;
    width: 100% !important;
    height: none !important;
    display: block !important;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center !important;
    font-size: 0.9em !important;
}
/* Estats de la pelicula */
.estat_pelicula{
    position: absolute;
    border-radius: 100%;
    margin: 5px;
    width: 30px;
    height: 30px;
}

.estat_pelicula > i{
    margin-top: 7px;
    font-size: 15px;
    color: rgb(255, 255, 255);
    text-shadow: none;
}

.estat_nou{
    background-color: rgb(233, 41, 41);
    box-shadow: 0px 0px 15px 2px rgb(233, 41, 41);
}

.estat_prox{
    background-color: rgb(233, 166, 41);
    box-shadow: 0px 0px 15px 2px rgb(233, 166, 41);
}

.estat_pub{
    background-color: rgb(95, 233, 41);
    box-shadow: 0px 0px 15px 2px rgb(95, 233, 41);
}

/* Modificar estats de la pelicula */
.mod_estat_pelicula{
    width: 100%;
}

.b_mod_estat{
    width: 100%;
    border-radius: 0px !important;
    box-sizing: border-box;
    font-size: 0.9em;
    padding-bottom: 10px;
    padding-top: 10px;
}