.parent_box_in{
    margin-top: 60px;
}
.box_in{
    margin: auto;
    margin-top: 20px;
    width: 30%;
    min-width: 250px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.button_access{
    width: 100%;
    margin-top: 20px;
    padding: 10px;
}
